@import url("https://fonts.googleapis.com/css?family=Bitter|Roboto+Slab|Bree+Serif");

@import "variables";
@import "bootstrap";

@import "block-diagonal";

.navbar-brand {
  font-family: "Bree Serif" ,"Roboto Slab", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
  color: inherit !important;
  opacity: 0.6;
}

button {
  &:hover {
    cursor: pointer;
  }
}

#hero {
  position: relative;
  z-index: 2;
}

#pricing .card {
  &:hover {
    @extend .border-secondary;
  }
}
