$text-color: #484848;

$brand-primary: #3f51b5;
$brand-success: #62b62a;

$theme-colors: (
  "primary": #3f51b5,
  "success": #00BB74
);

$border-radius:               .2rem !default;
$border-radius-lg:            .2rem !default;
$border-radius-sm:            .2rem !default;
