%nav.navbar.navbar-expand-md.navbar-light.py-3
  .container
    %a.navbar-brand.mb-0.h1{href: "https://www.signkit.io"}
      = image_tag "logo.png", height: "20"
      Signkit
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent",
      "aria-expanded" => "false",
      "aria-label" => "Toggle navigation",
      "data-target" => "#navbarSupportedContent",
      "data-toggle" => "collapse",
      type: "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{href: "#product"} Product
        %li.nav-item
          %a.nav-link{href: "#features"} Features
        %li.nav-item
          %a.nav-link{href: "#pricing"} Pricing
        %li.nav-item
          %a.nav-link{href: "mailto:sales@signkit.io"} Schedule a demo
      %ul.navbar-nav
        %li.nav-item.pr-3
          = link_to "Log in", "http://app.signkit.io/users/sign_in", class: "nav-link"
      = link_to "Sign up", "http://app.signkit.io/users/sign_up", class: "btn btn-outline-success", role: "button"
