#hero.my-5.py-5
  .container
    .row
      .col-12.col-md-6.mb-5.mb-md-0
        %h1 On-brand Email Signatures
        %p.lead.mb-4 Businesses choose Signkit to manage their email signatures and always leave a positive on-brand impression.
        = link_to "Get started", "http://app.signkit.io/users/sign_up", class: "btn btn-lg btn-success mr-2"
        = link_to "Schedule a demo", "mailto:sales@signkit.io", class: "btn btn-lg btn-light"
        - if data.customers.any?
          .pb-5.mb-1
          %p.small.text-uppercase.font-weight-light.text-muted Featured customers
          - data.customers.each do |customer|
            = image_tag customer.logo, alt: customer.title, class: "mr-4 mb-3"
      .col-12.col-md-6
        =image_tag "hero.png", class: "w-100"
